<h1> About App </h1>

<p> The "Friends" App is a CRUD (Create, Read, Update, Delete)  application built using the Ruby on Rails framework, bootstrap and PostgresSQl. It was designed to empower users to effortlessly manage and organize their friends' contact information. This App was built as a passion project by Oluwadabira Akinwumi<p>

<br> </br>

<h2> Getting Started</h2
>
<p> Using the Friends App is Easy, just visit the sign up page from the navbar and create an account to sign up or just log in if you already have an existing account. After that you will be able to access all the features of the friends app which include creating, updating, viewing and deleting friends info. You can also edit your profile,sign out and delete your profile anytime you please. </p>

<br> </br>
<h2> Developer Info </h2>
<br> </br>

<%= link_to 'LinkedIn', 'https://www.linkedin.com/in/dabira-akinwumi/', class:"btn btn-primary" %>



<%= link_to 'Github', 'https://github.com/Dabira12', class:"btn btn-secondary" %>
<br></br>

<span class="badge bg-warning">Email:dabira.akinwumi@gmail.com</span>